.employee-container{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    align-items: right;
    margin-bottom: 12px;

}
.add-employee-btn{
   border: none;
   outline: none;
   border-radius: 5px;
   background-color: #49BB43;
   font-family: "Railway, sans-serif";
   color: white;
   width: 120px;
   height: 40px;
   
}