.add-user-btn{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    align-items: right;
    margin-bottom: 12px;
}
.button:hover{
    background-color: #49BB43;
}