@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  font-weight: 400 !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  color: #4e4e4e !important;
}
.glb-tab-panel {
  margin-bottom: 1.5rem !important;
}

.glb-tab-panel .MuiTab-textColorPrimary.Mui-selected {
  /* color: #28a745 !important; */
  color: #3876bf !important;
  /* background-color: rgba(40, 167, 69, 0.12549019607843137) !important; */
  background-color: #deecff !important;
  font-family: "poppins", sans-serif !important;
}

.green-contained-button {
  background-color: #deecff !important;
  border-width: 0.8px !important;
  font-weight: 500 !important;
  border-color: #3876bf !important;
  border-radius: 20px !important;
  color: #3876bf !important;
  text-transform: capitalize !important;
  font-family: "Raleway", sans-serif !important;
}
.blue-outlined-button {
  padding: 2px 8px !important;
  font-size: small;
  font-weight: 500 !important;
  background-color: #e5eefc !important;
  color: #3876bf !important;
  border-color: #3876bf 2px !important;
  text-transform: capitalize !important;
  font-family: "Poppins", sans-serif !important;
}
.btn {
  background-color: #0066ff !important;
  text-transform: capitalize !important;
 
  color: white !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  font-family: "Poppins", sans-serif !important;
}
.btn:hover {
  background-color: #024ab5 !important;
}

body {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.download-btn {
  background-color: #383838 !important;
  color: white !important;
  text-transform: capitalize !important;
}
.download-btn:hover {
  background-color: #4e4e4e !important;
}

.ag-header-cell-text {
  font-family: "poppins", sans-serif !important;
  color: rgb(65, 64, 64) !important;
  font-weight: 400 !important;
  font-size: 15px;
}

.blue-btn {
  text-transform: capitalize !important;
  font-family: "poppins", sans-serif !important;
  font-weight: 400 !important;
  font-size: 15px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  /* gap: 2px !important */
}

.flex-input {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  margin-left: 30px !important;
  margin-right: 30px !important;
  margin-bottom: 20px;
  font-family: "poppins", sans-serif !important;
}
.mui-textfield {
  width: 500px !important;
  outline: orangered !important;
  font-family: "poppins", sans-serif !important;
}
.textarea {
  min-width: 500px !important;
  max-width: 500px !important;
  min-height: 55px !important;
  max-height: 150px !important;
  border: 0.5px solid rgb(180, 180, 180) !important;
  border-radius: 3px !important;
  padding: 5px !important;
}
.flex-btn-chip {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 10px !important;
}
.tab-text {
  font-family: "poppins", sans-serif !important;
}
.admin-form-container {
  width: 100%;
  display: block;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.label-with-input-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
}
.text-input-field {
  width: 555px !important;
}
.form-labels {
  font-size: 17px;
  font-weight: 400;
}
.submit-btn-container {
  display: flex;
  justify-content: right;
  align-items: right;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}
.form-heading {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 20px;
}

.logo-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  margin-left: auto;
  margin-right: auto;
 
}

.logo-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
  gap: 8px;
}
.logo-content {
	background-color: rgb(255, 255, 255);
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 1px 5px 1px rgba(255, 254, 254, 0.454);
}
.logo-content img {
	width: 50%;
}
.image-input-field{
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  margin-bottom: 20px !important;
  margin-left: 40px !important;
  margin-right: 40px !important;
}
.delete-button{
  background-color: rgb(220, 56, 56) !important;
  text-transform: capitalize !important;
  font-size: 16px !important;
  margin-right: 10px !important;
  /* margin-bottom: 10px !important; */
}
.gray-outlined-button{
  color: gray !important;
  font-weight: 600 !important;
  border: 1px solid gray !important;
  text-transform: capitalize !important;
  font-size: 16px !important;
  margin: 10px !important;
  margin-bottom: 10px !important;
}