.green-contained-button{
    background-color: #ccffdd !important;
    border-width: 0.8px !important;
    border-color: #009933 !important;
    border-radius: 20px !important;
    color: #009933 !important
}
.green-outlined-button{
    padding: 2px 8px !important;
    font-size: small;
    background-color: #ccffdd !important;
    color: #009933 !important;
    border-color: #009933 !important;
}

body{
    font-family: "Bitter", serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}